@import "../../styles/global.scss";

.booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $dark-color;
  .number {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name,
  .email,
  .date,
  .actions {
    width: 20%;
  }
}

@media (max-width: 767px) {
  .bookingsHeader {
    text-align: center;
  }
  .bookings {
    padding: 10px;
  }
  .booking {
    flex-wrap: wrap;
    .number {
      justify-content: left;

      width: 100%;
    }
    .name,
    .email,
    .date,
    .actions {
      width: 50%;
    }
  }
}
