@import "../../styles/global.scss";

.actionBooking {
  margin-top: 20px;

  fieldset {
    padding: 20px;
    border: 1px solid $dark-color;
    border-radius: $radius;
    legend {
      font-weight: bold;
      padding: 0 6px;
      font-size: 20px;
    }
  }
}

.inputWrapper {
  margin: 10px;
  font-size: 18px;
  width: 45%;
  display: flex;
  align-items: center;
  label {
    width: 30%;
  }
  input {
    padding: 12px;
    border-radius: $radius;
    border: none;
    width: 400px;
    background: rgb(222, 221, 221);
  }
  input[type="submit"] {
    margin: 16px auto 0;
    width: 200px;
  }
}

h4 {
  color: red;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.accept {
  transition: $transition;
  color: $light-color;
  background-color: $second-color-hover;
  font-weight: bold;

  &:hover {
    background: $second-color;
    transition: $transition;
    color: $font-color;
  }
}

@media (max-width: 1200px) {
  .inputWrapper {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .actionBooking {
    fieldset {
      padding: 10px;
      margin: 0 auto;
      width: 90%;
    }
  }

  .inputWrapper {
    margin: 0 auto;
    flex-wrap: wrap;
    label {
      margin: 10px 0;
    }
    input {
      width: 100%;
    }
  }
}
