@import "../../styles/global.scss";

.header {
  background: $dark-color;

  .logo {
    font-weight: bold;
    font-size: 30px;
    padding: 10px 0;
    color: $light-color;
  }
}

@media (max-width: 767px) {
  .header {
    .logo {
      padding: 10px;
    }
  }
}
