/* colors */
$light-color: #fff5e4;
$dark-color: #850e35;
$second-color: #ffc4c4;
$second-color-hover: #ee6983;
$font-color: rgb(25, 25, 25);

/* fonts */
$font-text: "Lato", sans-serif;

/* others */
$transition: ease-in-out 0.3s;
$radius: 8px;
